<%- include("./partials/head.ejs") %>
  </head>

  <body class="bg-gray-800">
    <header>
      <%- include("./partials/navbar.ejs") %>
    </header>
    <main id="main">
      <h1 class="uppercase text-6xl text-slate-400 font-bold text-shadow-shadowText text-center mt-40">welcome to za`ah
        talk</h1>
    </main>
  </body>
  <%- include("./partials/end.ejs") %>